<app-app-header></app-app-header>
    <div class="profile" *ngIf="user">
      <div class = "profile-info">
        <img class="profile-image" src="{{user.image}}" alt="Profile Picture">
        <h2>{{user.name | uppercase}} Profile</h2>
        <div class="profile-stats">
            <ul class="profile-stats-list">
              <li routerLink="/followers">
                <span class="profile-stat-count"   *ngIf="user.followers_list"> {{user.followers_list.length}} </span>
                Followers
              </li>
              <li routerLink="/following">
                <span class="profile-stat-count"  *ngIf="user.following_list"> {{user.following_list.length}} </span>
                Following
              </li>
            </ul>
        </div>
        <button type="button" routerLink="/CostumeLists"> {{user.name | uppercase}} Custom Lists  </button>
      </div>

      <div class="library">
        <h2> Library </h2>
        <ul class="library-items" *ngIf="user.item_library && user.item_library.length > 0">
          <li *ngFor="let item of user.item_library">
            <img src="{{item.main_image}}" class="item_image" alt="{{item.name}} Photo">
            <p> {{item.name}}</p>
          </li>
        </ul>

        <p *ngIf="user.item_library && user.item_library.length < 1" class = "empty_list"> Empty Library </p>
        <button type="button" routerLink="/library"> Open Library </button>
      </div>


      <div class="wishlist">
        <h2 > Wishlist  </h2>
        <ul class="wishlist-items" *ngIf="user.wish_items && user.wish_items.length > 0">
          <li *ngFor="let item of user.wish_items">
            <img src="{{item.main_image}}" class="item_image" alt="{{item.name}} Photo">
            <p> {{item.name}}</p>
          </li>
        </ul>
        <p *ngIf="user.wish_items && user.wish_items.length < 1"> Empty Wishlist </p>
        <button type="button" routerLink="/wishlist/{{user.name}}"> Open Wishlist </button>
      </div>
    </div>

<div class="user-not-found" *ngIf="!user"> <h1>User Not Found </h1></div>
