<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-app-header></app-app-header>

<p>Your Shopping Cart <span>(Total Price: {{totalPrice}}€)</span></p>

<div id="cartView" *ngIf="games">
  <div id="cartWithItems" *ngFor="let game of games">
    <img src="{{game.main_image}}">
    <ul class="gameDescription">
      <li>{{game.name}}</li>
      <li><span>Type:</span> {{game.type}}</li>
      <li><span>Price:</span> {{game.price}}€</li>
      <li><span>Quantity:</span> {{itemsInCart[game._id]}} Unit(s)</li>
    </ul>
    <div id="alterItems">
      <div id="alterQt">
          <span>
            <button type="button"><i class="fa fa-angle-up"></i></button>
          </span>
          <span>{{itemsInCart[game._id]}}</span>
        <span>
            <button type="button"><i class="fa fa-angle-down"></i></button>
          </span>
      </div>
      <span id="deleteItem">Delete Item
        <button type="button" (click)="removeItem(game._id)"><span class="close">&times;</span></button>
      </span>
    </div>
  </div>
</div>

<div id="emptyCart" *ngIf="games === undefined">
  (Empty Cart!)
</div>
