p {
  font-size: 3rem;
  text-align: center;
  margin: 1%;
  color: white;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

p span {
  font-size: 1.5rem;
  align-self: center;
}

#cartView {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
  padding: 2rem;
}

#cartWithItems {
  color: white;
  display: flex;
  margin: 0;
  background-color: #1b2323;
  height: 8rem;
  width: 26rem;
  padding: 0.5rem 0.2rem 0.5rem 0.5rem ;
  justify-content: flex-start;
}
.gameDescription {
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 0.1rem;
  width:60%
}

span span {
  color: #8D8DAA;
}

img {
  height: 6rem;
  width: 8rem;
  align-self: center;
}

#alterItems {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

#alterQt {
  height: 80%;
  display: flex;
  flex-direction: column;
  width: inherit;
  align-self: center;
  width: 100%;
  justify-content: space-evenly;
}

#alterQt span {
  align-self: center;
}

#alterQt button {
  border-radius: 50%;
  border: solid white 0.1rem;
  background-color: transparent;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
}

#alterQt i {
  color: white;
  font-size: 1rem;
  align-self: center;
}


#deleteItem {
  color: #A91D36 ;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  height: 20%;
}

#deleteItem button {
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  background-color: #A91D36 ;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

span span.close {
  color: black;
  align-self: center;
  text-align: center;
  font-size: 1.5rem;
}


