<app-app-header></app-app-header>
<div class="wishlist">

  <div class = "profile-info">
    <img class="profile-image" src="https://cdn-icons-png.flaticon.com/512/1250/1250689.png" alt="Profile Picture">
    <h2>User Wishlist</h2>
  </div>

  <div class="wishlist-display">
    <ul>
      <li>
        <img class="item-image" src="https://image.api.playstation.com/vulcan/img/cfn/11307x4B5WLoVoIUtdewG4uJ_YuDRTwBxQy0qP8ylgazLLc01PBxbsFG1pGOWmqhZsxnNkrU3GXbdXIowBAstzlrhtQ4LCI4.png" alt="Profile Picture">
        <h2 class="game-name"> Counter Strike Global Offensive</h2>
        <p class="game-type"> Game Type: RPG</p>
        <p class="game-platform"> Plataform: PS4</p>
        <p class="game-classification"> Classification: 5*</p>
        <div class="game-price-buy">
          <p class="price"> 59.99€</p>
          <div class="buttons">
            <button type="button" > Add to Cart </button>
            <button type="button" > Open Item </button>
          </div>
        </div>
      </li>
      <li>
        <img class="item-image" src="https://image.api.playstation.com/vulcan/img/cfn/11307x4B5WLoVoIUtdewG4uJ_YuDRTwBxQy0qP8ylgazLLc01PBxbsFG1pGOWmqhZsxnNkrU3GXbdXIowBAstzlrhtQ4LCI4.png" alt="Profile Picture">
        <h2 class="game-name"> Counter Strike Global Offensive</h2>
        <p class="game-type"> Game Type: RPG</p>
        <p class="game-platform"> Plataform: PS4</p>
        <p class="game-classification"> Classification: 5*</p>
        <div class="game-price-buy">
          <p class="price"> 59.99€</p>
          <div class="buttons">
            <button type="button" > Add to Cart </button>
            <button type="button" > Open Item </button>
          </div>
        </div>
      </li>
      <li>
        <img class="item-image" src="https://image.api.playstation.com/vulcan/img/cfn/11307x4B5WLoVoIUtdewG4uJ_YuDRTwBxQy0qP8ylgazLLc01PBxbsFG1pGOWmqhZsxnNkrU3GXbdXIowBAstzlrhtQ4LCI4.png" alt="Profile Picture">
        <h2 class="game-name"> Counter Strike Global Offensive</h2>
        <p class="game-type"> Game Type: RPG</p>
        <p class="game-platform"> Plataform: PS4</p>
        <p class="game-classification"> Classification: 5*</p>
        <div class="game-price-buy">
          <p class="price"> 59.99€</p>
          <div class="buttons">
            <button type="button" > Add to Cart </button>
            <button type="button" > Open Item </button>
          </div>
        </div>
      </li>
      <li>
        <img class="item-image" src="https://image.api.playstation.com/vulcan/img/cfn/11307x4B5WLoVoIUtdewG4uJ_YuDRTwBxQy0qP8ylgazLLc01PBxbsFG1pGOWmqhZsxnNkrU3GXbdXIowBAstzlrhtQ4LCI4.png" alt="Profile Picture">
        <h2 class="game-name"> Counter Strike Global Offensive</h2>
        <p class="game-type"> Game Type: RPG</p>
        <p class="game-platform"> Plataform: PS4</p>
        <p class="game-classification"> Classification: 5*</p>
        <div class="game-price-buy">
          <p class="price"> 59.99€</p>
          <div class="buttons">
            <button type="button" > Add to Cart </button>
            <button type="button" > Open Item </button>
          </div>
        </div>
      </li>







    </ul>

  </div>


</div>
