<header>
  <div *ngIf=user id="userLog">
    <a routerLink="/profile/{{user}}" id="user"> {{user | uppercase }} Profile</a>
    <a routerLink="/login" id="signOut" (click)="logOutUser()"> Sign Out </a>
  </div>
  <a *ngIf=!user routerLink="/login" id="login">Log In</a>
  <a class="menuOption" routerLink="/library">Library</a>

  <a class="menuOption" routerLink="/lists" *ngIf="!user">Lists</a>
  <div class="menuOption" id="lists" *ngIf="user">
    <a id="list" routerLink="/lists">Lists</a>
    <ul class="hidden">
      <li routerLink="/wishlist/{{user}}">
        <p> Wishlist</p>
      </li>
      <li routerLink="/lists">
        <p> Custom Lists</p>
      </li>
    </ul>
  </div>

  <a class="menuOption" routerLink="/dashboard">Dashboard</a>
  <a class="menuOption" routerLink="/following">Following</a>
  <a class="menuOption" routerLink="/followers">Followers</a>
  <app-shopping-cart></app-shopping-cart>
  <app-item-searchbar></app-item-searchbar>
</header>
