<header>
  <div *ngIf=user id="userLog">
    <a routerLink="/profile/{{user}}" id="user"> {{user}} Profile</a>
    <a routerLink="/login" id="signOut" (click)="logOutUser()"> Sign Out </a>
  </div>
  <a *ngIf=!user routerLink="/login" id="login">Log In</a>
  <div class="menuOption">Library</div>
  <div class="menuOption">Lists</div>
  <div class="menuOption" routerLink="/dashboard">Dashboard</div>
  <div class="menuOption">Following</div>
  <div class="menuOption">Followers</div>
  <app-item-searchbar></app-item-searchbar>
</header>
