button {
  position: relative;
  width: 2.8em;
  height: 1.5em;
  font-size: 1.1em;
  background-color: #1a65f1;
  border-radius: 1em;
  border: none;
}
  
button:hover {
  background-image: linear-gradient(to left, #1a65f1 0%, #5e8fea 100%);
  cursor: pointer;
}

button:active {
  background-image: linear-gradient(to left, #1a65f1 0%, #5e8fea 51%);
}

#numOfItems {
  position: absolute;
  display: inline-block;
  width: 1em;
  height: 1em;
  color: white;
  background-color: red;
  text-align: center;
  border-radius: 0.5em;
  top: -0.5em;
  right: -0.5em;
}