<div class="container" *ngIf="item">
  <div id="overlay"></div>

    <div id="background">
    <div id="content">
        <h1>Minecraft</h1>

        <div id="container-1">
            <div id="images">
                <div class="item" id="item1">
                    <img src="{{item.main_image}}">
                </div>

                <div class="sec-images">
                    <div class="item" *ngFor="let image of item.sec_images">
                        <img src="{{image}}">
                    </div>
                </div>

            </div>

            <div id="price-class-specs">
                <div id="price">
                    <h2>{{this.item.price}}€</h2>
                    <div id="purchase-wishlist">
                        <button id="purchase" (click)="addItemToShoppingCart()">
                            <img src="../../assets/carrinho-de-compras.png">
                            <p>PURCHASE</p>
                        </button>
                        <app-add-to-wishlist-button (show_message_event) = "showMessage($event)">
                        </app-add-to-wishlist-button>
                    </div>
                  <div id="information-window">
                    <span id="message">Lorem50</span>
                    <div id="button-container">
                      <button (click)="hideWindow()">Back</button>
                      <button (click)="goToUsersWishlist()">View Wishlist</button>
                    </div>
                  </div>
                </div>
                <div id="classification">

                    <h2>Classification</h2>
                    <div id="class">
                        <span id="class-value">{{item.classification}}</span><span id="class-total">/5</span>
                    </div>

                </div>
                <div id="specs">

                    <h2>Specs</h2>

                    <div id="info">
                        <p>Type: {{item.type}}</p>
                        <p>Platform: {{item.platform}}</p>
                        <p>Languages: {{item_languages}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="container-2">
            <div id="trailer" *ngIf="item.video_link">
                <h2>Trailer</h2>
                <div id="video">
                    <iframe [src]="video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

            <div id="description">
                <h2>Description</h2>
                <div id="texto">
                    <p>{{item.description}}</p>
                </div>
            </div>
            <div id="reviews">
                <h2>Reviews</h2>
            </div>
        </div>
    </div>
    </div>
</div>
