body {
    height: 100%;
}

.container {
    display: flex;
}

#background {
    background-color: #131615;
    width:100%;
    display: flex;
    justify-content: center;
}

#content {
    background-color: #1b2323;
    max-width: 90em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 5em;
    padding-right: 5em;
}

#content > h1 {
    padding: 0;
    margin: 0;
    color: white;
    font-weight: 500;
    margin-bottom: 0.1em;
    display: flex;
    font-size: 2.5em;
}

#images {
    min-width: 17em;
    max-width: 22em;
    height: 17em;
    background-color: #414a4c;
    border-radius: 0.5em;
    padding: 1em;
    display: flex;
}

.sec-images {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1.1em;
}

.item {
    background-color: #D9D9D9;
    height: 3.7em;
    width: 3.7em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#item1 {
    height: 17em;
    min-width: 17em;
}

#container-1 {
    display: flex;
    max-height: 19em;
    justify-content: space-between;
}

#price-class-specs {
    flex-grow: 1;
    max-height: 19em;
    min-width: 22em;
    max-width: 22em;
    padding-left: 2.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#price-class-specs > * {
    background-color: #414a4c;
    border-radius: 0.5em;
    padding: 0.7em;
}

#classification {
    height: 8.2em;
    width: 7.5em;
}

#specs {
    height: 7em;
    width: 100%;
    margin-top: 1em;
}

#price > h2 {
    color: white;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 2.1em;
}

#purchase-wishlist {
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

#purchase-wishlist > * {
    border-radius: 0.5em;
    background-color: #1a65f1;
}

#purchase {
    font-weight: bold;
    border: none;
    font-size: 0.9em;
    width: 100%;
    border-radius: 0.5em;
    display: flex;
    padding: 0.2em;
    align-items: center;
    justify-content: center;
}

#purchase:hover{
    background-image: linear-gradient(to left, #1a65f1 0%, #5e8fea 100%);
    cursor: pointer;
}
  
#purchase:active{
    background-image: linear-gradient(to left, #1a65f1 0%, #5e8fea 51%);
}


#purchase > img {
    width: 1.6em;
    height: 1.6em;
    margin-bottom: 0.5em;
    margin-right: 0.3em;
}

#purchase > p {
    color: white;
    font-weight: 500;
    font-size: 0.9em;
    margin: 0;
    font-weight: bold;
    padding-right: 0;
    margin-right: 0.2em;
}

#wishlist > img {
    width: 1.6em;
    height: 1.6em;
    padding-right: 0.2em;
    padding-bottom: 0.1em;
}

#classification > h2 {
    color: white;
    font-weight: 400;
    font-size: 1em;
    margin: 0;
}

#class {
    color: #1a65f1;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

#class-value {
    font-size: 3em;
    font-weight: 600;
}

#class-total {
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 0.9em;
}

#specs > h2 {
    color: white;
    font-weight: 400;
    font-size: 1em;
    margin: 0;
}

#specs > #info {
    margin-top: 1em;
    margin-left: 1em;
}

#specs > #info > p {
    margin: 0;
    color: white;
    font-weight: 400;
    font-size: 0.8em;
    margin: 0;
    margin-top: 0.5em;
}

#container-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 3em;
}

#description {
    width: 45.3em;
    height: auto;
    background-color: #414a4c;
    border-radius: 0.5em;
    padding: 1.5em;
    margin-top: 3em;
}

#reviews {
    width: 45.3em;
    height: auto;
    background-color: #414a4c;
    border-radius: 0.5em;
    padding: 1.5em;
    margin-top: 3em;
}

#description > h2 {
    color: white;
    font-weight: 400;
    font-size: 1em;
    margin: 0;
}

#reviews > h2 {
    color: white;
    font-weight: 400;
    font-size: 1em;
    margin: 0;
}

#item1 img {
    width: 100%;
    border-radius: 0.5em;
}

.item img {
    width: 100%;
}

#trailer > h2 {
    color: white;
    font-weight: 400;
    font-size: 1em;
    margin: 0;
}

#trailer {
    width: 45.3em;
    height: auto;
    background-color: #414a4c;
    border-radius: 0.5em;
    padding: 1.5em;
}

#video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

#texto > p {
    word-wrap: break-word;
    color: white;
    margin-left: 2em;
}

#video > iframe {
    width: 40em;
    height: 17em;
}

#img-name {
    display: flex;
    align-items: center;
}

#img-name img {
    width: 1.5em;
    height: 1.5em;
}

#img-name span {
    color: white;
    margin-left: 0.5em;
}

#has-reviews p {
    color: white;
    margin-left: 2em;
}

#has-reviews {
    margin-top: 2em;
    margin-left: 1em;
}

#no-reviews p {
    color: white;
    margin-left: 2em;
}

#no-reviews {
    margin-top: 1em;
}

#trailer p {
    color: white;
    margin-top: 1em;
    margin-left: 2em;
}