
<div id="login_container">

  <h1>Welcome!</h1>


  <form [formGroup]="loginForm">
    <h2>Login:</h2>
    <label for="user-name">Username: </label>
    <input id="user-name" type="text" formControlName="username">
    <br>
    <label for="password">Password: </label>
    <input id="password" type="password" formControlName="password">
    <br>
    <button id="login_btn" (click)="login()">
      Login
    </button>
  </form>


  <a routerLink="/forgot-password" >Forgot your password?</a>
  <a routerLink="register" >Don't have an account?</a>

</div>

