
<div id="login_container">

  <h1>Welcome!</h1>

  <form [formGroup]="loginForm">
    <h2>Login</h2>

    <label for="user-name">Username</label>
    <input class="textInput" id="user-name" type="text" formControlName="username">

    <label for="password">Password </label>
    <input class="textInput" id="password" type="password" formControlName="password">

    <div id="rememberMeContainer">
      <label for="rememberMe">Remember me</label>
      <input id="rememberMe" type="checkbox">
    </div>


    <button id="login_btn" (click)="login()">
      Login
    </button>
    <div *ngIf="login_failed" id="failed_login_msg">Wrong Username/Password</div>
  </form>


  <a routerLink="/forgot-password">Forgot your password?</a>
  <p> Don't have an account? <a routerLink="/register" >Create one</a></p>

</div>

