button{
  border-radius: 0.5em;
  color:#e7e7e7;
  background-color: #1a65f1;
  font-weight: bold;
  border: none;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  padding: 0.7em ;
  width: 100%;
}
button *{
  margin: auto 0.1em;
}

button:hover{
  background-image: linear-gradient(to left, #1a65f1 0%, #5e8fea 100%);
  cursor: pointer;
}

button:active{
  background-image: linear-gradient(to left, #1a65f1 0%, #5e8fea 51%);
}


