#dashboard {
  height: 6%;
  background-color: darkblue;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 10% 65% 25%;
  border-radius: 50px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  align-self: center;
}

.menuOption {
  border: 1px solid black;
  border-radius: 50px;
  padding: 10px;
  background-color: gray;
}

.menuOption:hover {
  background-color: lightgray;
  width: 10%;
  text-align: center;
}

#searchBar {
  background-color: gray;
  border-radius: inherit;
  align-self: center;
}


