<div id="loginBox">
    <form [formGroup]="registrationForm">


        <label for="username">Username: </label>
        <input id="username" type="text" formControlName="username">
        <div *ngIf="registrationFailed">
            <span *ngIf="this.username.hasError('required')">An username is required</span>
            <span *ngIf="this.username.hasError('minlength')">An username has to be at least 3 characters long</span>
        </div>

        <label for="password">Password: </label>
        <input id="password" type="password" formControlName="password">
        <ul *ngIf="!registrationSuccessful">
            <li>At least 8 characters</li>
            <li>An uppercase letter</li>
            <li>A lowercase letter</li>
            <li>A number</li>
        </ul>
        <p *ngIf="registrationSuccessful">
            Account created! You can now login.
        </p>
        <div id="buttons">
            <button *ngIf="!registrationSuccessful" class="submitButton" (click)="submit()">Register</button>
            <button [class.goToLoginButton]="!registrationForm" [class.soleButton]="registrationSuccessful" (click)="goToLogin()">Go to Login</button>
        </div>
    </form>
</div>