<div>
    <form [formGroup]="registrationForm">
        <label for="username">Username: </label>
        <input id="username" type="text" formControlName="username">
        
        <label for="password">Password: </label>
        <input id="password" type="password" formControlName="password">
        <ul>
            <li>At least 8 characters</li>
            <li>An uppercase letter</li>
            <li>A lowercase letter</li>
            <li>A number</li>
        </ul>
        <button class="submitButton">Register</button>
    </form>
</div>