#loginBox{
  color: #e7e7e7;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1b2323;
}

form{
  background-color: #414a4c;
  width: 30%;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

label{
  margin-top: 0.5em;
}

.textInput{
  padding: 0.7em;
}

p {
  text-align: center;
}

h1,h2{
  color: white;
}

h1{
  justify-self: flex-start;
}

button:hover{
  background-color: #2a77f6;
  cursor: pointer;
}

button {
  font-weight: bold;
  font-size: 1em;
  border:none;
  color:inherit;
  background-color: #1a65f1;
  display: inline-block;
  margin:auto;
  width: 40%;
  margin-top: 1em;
  padding: 0.8em;
}

.submitButton {
  margin-right: 7%;
}

#password {
  margin-bottom: 1em;
}

.errorMessage {
  color: red;
}

.goToLoginButton {
  margin-left: 7%;
}

#buttons {
  text-align: center;
}

ul {
  margin: 0;
  padding-left: 5%;
}